.btn {
    margin-top: 3.5rem;
    text-align: ;
    padding: 0;
    margin-left: 2.1875rem;
    
    &--li {
        background-color: black;
        color: white;
        text-align: center;
        display: inline-block;
        padding: 5px 15px;
        margin-right: 3.125rem;
        border-radius: 0.4rem;
        width: 7.25rem;
        
    }
    
    &--li:hover {
        cursor: pointer;
        
    }
  
    &--social {
        float:right;
        margin-right: 2.125rem;
    }
    
    &--no-right-margin {
        margin-right: 1.125rem;
    }
    
    &--active {
        background-color: blue;
    }
    
}


