.row {
        
        
        &--3 {
        background-color: ;    
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;

         & img {
             width: 15.625rem;
             height: 15.625rem;  
             margin: 0 25px;
        }
            
            
            & img:last-child {
                margin-right:0px;  
            }
    }
    
    
   

}
